* {
  font-family: CaskaydiaCove Nerd Font;
  color: black;
  background: transparent;
}

#window {
  background: rgba(218, 218, 218, 0.5);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: rgba(255, 226, 228, 0.5);
  border: 1px solid black;
  border-radius: 20px;
}

#text {
  margin: 2px;
}
